/ Section About
%section#about
  / Begin of #map
  #wrapper
    #map

  / End of #map
  .container
    %h2 LISTA DEI NEGOZI
    %p
      Gli indirizzi della bellezza, sono sempre vicini ai tuoi desideri e alle tue necessità:<br />
      la bellezza a portata di mano a quattro passi da casa tua. Vieni, vedi: Modus!
  .container
    %button.btn#lista_negozi
      Visualizza lista
    %ul#lista


    / end of list of services
  #parallax-one.parallax{style: "background-image:url(images/flowers.jpg);"}
  / end of container in about section

/ end of about