/ Footer Section
%footer
  .container
    .left
      = image_tag "Modus-logo-13.png", class:"bttrlazyloading"

    / Begin of  #contact
    .right
      #contact
        
        %h2 Newsletter
        %p
          Vuoi essere sempre aggiornata sulle novità Modus?<br />
          Iscriviti alla nostra newsletter per ricevere tutti gli update.

        %form.contact-form#mc-form
          
          %input#mc-name.form-name{name: "FNAME", placeholder: "Nome", type: "text"}/
          %label{for: "mc-name"}
          %input#mc-surname.form-name{name: "LNAME", placeholder: "Cognome", type: "text"}/
          %label{for: "mc-surname"}
          %input#mc-email.form-email{name: "EMAIL", placeholder: "Email", type: "email"}/
          %label{for: "mc-email"}
          %button.btn{type: "submit"} Iscriviti
        / End of .container
    %p.info
      Vallesi S.p.A Socio Unico - Via Pietro Massia 13, Savigliano - 12038 (Cn) - Italy - Phone +39 0172. 96176 - Fax +39 0172 96269
    %p.secondmenu
      <a href="/privacypolicy.html">Privacy Policy</a>&nbsp;&nbsp;<a href="/termsandconditions.html">Terms and Conditions</a>
    /[IF IE]
      <script src="js/selectivizr-min.js"></script>
      
      <link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
      <script src="js/respond.src.js"></script>