.subheader#subheader
  .container
    %a.logo{href: "#top"}
      = image_tag "modus_logo-09.png", class:"bttrlazyloading"
    .clearfix
    %a.down{href: "#clients"}
  / end of container in subheader
/ end of subheader