/ Begin of #team
%section#team

  / Begin of  .container
  .container
    %h2 I nostri servizi fanno la differenza
    %p
      Entra nel mondo di Modus: un modo di essere bella a modo tuo.<br />
      Vieni a scoprire i servizi che Modus ti offre: qui ogni tuo sogno può diventare realtà!
    / Begin of  .slider2
    .slider2
      .slide
        %a.no1
          = image_tag "servizi/Comp_61154935.jpg", class:"bttrlazyloading"
          %i
        %h5 HAI SCELTO IL COLORE SBAGLIATO?
        .arrow_up.no1
      .slide
        %a.no2
          = image_tag "servizi/Comp_48063372.jpg", class:"bttrlazyloading"
          %i
        %h5 VUOI IL PARERE DI UNO SPECIALISTA?
        .arrow_up.no2
      .slide
        %a.no3
          = image_tag "servizi/Comp_64919288.jpg", class:"bttrlazyloading"
          %i
        %h5 VOGLIA DI NOVITÀ?<br /><br />
        .arrow_up.no3
      .slide
        %a.no4
          = image_tag "servizi/Comp_45498191.jpg", class:"bttrlazyloading"
          %i
        %h5 VUOI PROVARE UN TRATTAMENTO PROFESSIONALE?
        .arrow_up.no4
      .clear
    / End of .slider2
    / Begin of  .slider2_popups
    .slider2_popups
      .popup-item.no1
        %h6 HAI SCELTO IL COLORE SBAGLIATO?
        %p
          Se una volta a casa non sei più sicura del tuo acquisto, non stressarti! Riportaci il prodotto integro nella sua confezione: potrai sostituirlo con un altro più adatto senza alcun problema.

        %b.close Chiudi
      .popup-item.no2
        %h6 VUOI IL PARERE DI UNO SPECIALISTA?
        %p
          Da Modus abbiamo un segreto: formare ed aggiornare costantemente le nostre consulenti per fornirti un servizio impeccabile e poter rispondere con competenza e professionalità a ogni tuo dubbio sui prodotti in vendita.

        %b.close Chiudi
      .popup-item.no3
        %h6 VOGLIA DI NOVITÀ?
        %p
          Cambia beauty routine senza paura di sbagliare! Da Modus ti aspettano tanti campioni omaggio per testare sempre nuovi prodotti e fragranze.
        %b.close Chiudi
      .popup-item.no4
        %h6 VUOI PROVARE UN TRATTAMENTO PROFESSIONALE?
        %p
          Vieni da Modus e affidati al nostro personale specializzato. Prenotando gratuitamente il tuo appuntamento presso uno dei nostri negozi riceverai un trattamento viso o una seduta di make-up con i consigli di bellezza delle nostre assistenti
        %b.close Chiudi


    / End of .slider2_popups
  / End of .container
/ End of #team