/ Section Works
%section#work
  .container
    %h2 Marchi
    %p
      Modus profuma la tua vita con le essenze piu’ ricercate,<br />
      cura il tuo corpo con i prodotti più indicati per la tua pelle e inventa con te i trucchi piu’ personali.<br />
      Se la bellezza fugge, Modus la ferma!
    / Begin of  .category
    -#
      .filter_wrap
        %span Select category
        / Begin of #filter_wrap
        %ul#filters
          %li.active
            %a{"data-filter" => "*"} All
          %li
            %a{"data-filter" => ".white, .yellow"} Branding
          %li
            %a{"data-filter" => ".blue, .red, .white"} Design
          %li
            %a{"data-filter" => ".saphir, .blue, .green"} Development
          %li
            %a{"data-filter" => ".blue, .green"} Printing

    #filter_content
      .red
        %img.bttrlazyloading{:alt => "", :height => "91", :src => "images/marchi/modus_acqua-di-parma.png", :width => "171"}/
      .white
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_alyssa-ashley.png", :width => "170"}/
      .blue
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_arval.png", :width => "170"}/
      .green
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_azzaro.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_biotherm.png", :width => "170"}/
      .red
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_boss.png", :width => "170"}/
      .white
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_bulgari.png", :width => "170"}/
      .saphir
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_cacharel.png", :width => "170"}/
      .blue
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_calvin-klein.png", :width => "170"}/
      .green
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_cartier.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_chanel.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_clarins.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_clinique.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_chloe.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_collistar.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_davidoff.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_diesel.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_dior.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_dolce-e-gabbana.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_elie-saab.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_elizabeth-arden.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_fendi.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_giorgio-armani.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_givenchy.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_gucci.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_guerlain.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_hermes.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_helena-rubestain.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_issey-miyake.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_janeke.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_jpg.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_kanebo.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_kenzo.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_la-mer.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_la-prairie.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_lancome.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_laura-biaggiotti.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_mavala.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_moschino.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_mugler.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_narciso-rodriguez.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_orlane.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_paco-rabanne.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_ralph-lauren.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_roberto-cavalli.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_salavatore-ferragamo.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_shiseido.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_tommy-hilfiger.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_valentino.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_versace.png", :width => "170"}/
      .yellow
        %img.bttrlazyloading{:alt => "", :height => "90", :src => "images/marchi/modus_ysl.png", :width => "170"}/
    / End of #filter_content
  / end of container in works section
/ end of work
.separator