.layout
  %header
    .container

      / end of logo
      %nav
        %ul
          %li
            %a{href: "/new/"} Home
          %li.active
            %a{href: "/new/privacypolicy-it.html"} Privacy Policy Website
          %li
            %a{href: "/new/privacypolicy.html"} Privacy Policy App
          %li
            %a{href: "/new/termsandconditions.html"} Terms and Conditions

      / end of navigation
    / end of container in header
  / end of header
  .content
    %section#privacy
      .container
        %h1
          Privacy Policy di VALLESI S.p.A. Socio Unico
        %p
          Ai sensi dell’art. 13, D.Lgs. 30 giugno 2003 n. 196, Vi informiamo che VALLESI S.p.A. Socio Unico garantisce, nell’ambito delle

          previsioni normative, che il trattamento dei dati personali si svolge nel rispetto dei diritti e delle libertà fondamentali, nonché della dignità 
          
          dell’interessato (art. 4, comma 1, lettera i) del codice) con particolare riferimento alla riservatezza, all’identità personale, al diritto ed 
          
          alla protezione dei dati personali.<br />
          In questa pagina si descrivono le modalità di gestione del sito in riferimento al trattamento dei dati 
          
          personali di coloro che interagiscono con il servizio web: l'informativa è resa ai sensi del Decreto legislativo 196/2003 (di seguito Codice 
          
          Privacy) solo per il sito in oggetto e non anche per altri siti web eventualmente consultabili dall'utente tramite link, di cui VALLESI S.p.A. 
          
          Socio Unico non è in alcun modo responsabile.
        %h2
          1. OPERAZIONI DI TRATTAMENTO E RELATIVE FINALITA’
        %p
          Tutte le informazioni personali da Voi fornite sono il risultato di una vostra libera scelta: non disponiamo di mezzi illeciti per ottenere 
        
          queste informazioni senza il Vostro consenso.<br /> Le informazioni che ci fornite attraverso l’invio di una e-mail e/o attraverso la
          
          compilazione del form di registrazione vengono utilizzate esclusivamente per rispondere alle Vostre domande o per soddisfare le Vostre 
          
          richieste; la nostra organizzazione, previa manifestazione di libero specifico consenso da parte Vostra, potrà utilizzare i dati personali 
          
          per finalità quali invio di informazioni di carattere promozionale e commerciale, a mezzo posta o telefono e/o mediante comunicazioni 
          
          elettroniche quali e-mail, fax, messaggi del tipo Sms o Mms ovvero con sistemi automatizzati, relative a nuove offerte di prodotti o 
          
          servizi, al fine di migliorare i servizi offerti o di proporre offerte commerciali volte in tutti i casi all’individuazione di Vostre esigenze e 
          
          di nuove opportunità di Vostro possibile interesse: in tale ambito e per le suddette finalità, il consenso al trattamento dei propri dati 
          
          personali, è meramente facoltativo, fermo restando il diritto di opposizione, in tutto o in parte (art. 7, comma 4, lett. b) del codice) ed il 
          
          mancato consenso non comporterà alcuna conseguenza sui rapporti in essere ovvero in corso di costituzione ai fini dell’attivazione del 
          
          servizio richiesto, precludendo il solo espletamento delle attività sopraindicate.
        %h2 
          2. MODALITA’ DI TRATTAMENTO
        %p
          Il trattamento dei dati personali potrà effettuarsi con o senza l’ausilio di mezzi elettronici e comunque automatizzati, e comprenderà tutte 
  
          le operazioni necessarie al trattamento in questione previste all’art. 4 comma 1, lettera a, D.Lgs. 30 giugno 2003 n. 196 (si definisce 
          
          “trattamento" qualunque operazione o complesso di operazioni, effettuati anche senza l'ausilio di strumenti elettronici, concernenti 
          
          la raccolta, la registrazione, l'organizzazione, la conservazione, la consultazione, l'elaborazione, la modificazione, la selezione, 
          
          l'estrazione, il raffronto, l'utilizzo, l'interconnessione, il blocco, la comunicazione, la diffusione, la cancellazione e la distruzione di dati, 
          
          anche se non registrati in una banca di dati); in ogni caso il trattamento sarà effettuato nell’osservanza di ogni misura cautelativa, 
          
          che ne garantisca la sicurezza e la riservatezza.<br /> I dati personali saranno trattati esclusivamente da soggetti designati responsabili del 
          
          trattamento ovvero da personale incaricato al trattamento, nominati dal Titolare del trattamento, VALLESI S.p.A. Socio Unico, il quale ha 
          
          predisposto tutte le misure minime di sicurezza informatica necessarie per ridurre al minimo il rischio di violazione della privacy degli 
          
          utenti da parte di terzi, aggiornate costantemente e ogniqualvolta si dimostri indispensabile, e saranno conservati per un periodo di 
          
          tempo non superiore a quello necessario per perseguire le finalità citate ovvero per adempiere a precisi obblighi di legge.
        
        %h2
          4. DATI DI NAVIGAZIONE
        %p
          I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale 

          esercizio, alcuni dati personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di internet. Si tratta di informazioni 
          
          che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni 
          
          ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti. In questa categoria di dati rientrano gli indirizzi IP o i nomi 
          
          a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle 
          
          risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, 
          
          il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ...) ed altri parametri relativi al sistema operativo e 
          
          all'ambiente informatico dell'utente.<br /> Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull'uso del sito 
          
          e per controllarne il corretto funzionamento e vengono cancellati immediatamente dopo l'elaborazione. I dati potrebbero essere utilizzati 
          
          per l'accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito.
        %h2
          5. FACOLTA’ DI CONFERIRE I DATI
        %p
          L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione 

          dell’indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva.<br /> I dati 
          
          personali saranno trattati per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti: specifiche misure di 
          
          sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.
        %h2
          6. COOKIES
        %p
          Anticipando che questo sito non ne fa uso, a titolo informativo, si comunica che i c.d. cookies sono frammenti di testo inviati dal software

          che gestisce il sito al personal computer dell’utente / visitatore.<br /> Un cookie può contenere informazioni quali l’ID dell'utente, che il sito 
          
          usa per controllare le pagine visitate, ma le uniche informazioni di carattere personale che un cookie può contenere sono quelle fornite 
          
          dall'utente stesso: in ogni caso si ribadisce che nessun dato personale degli utenti viene acquisito dal sito e non viene fatto uso di 
          
          cookies per la trasmissione di informazioni di carattere personale, né vengono utilizzati i c.d. cookies persistenti di alcun tipo ovvero 
          
          sistemi per il tracciamento degli utenti.<br /> L'uso di c.d. cookies di sessione (non vengono memorizzati in modo persistente sul computer 
          
          dell'utente e svaniscono con la chiusura del browser) è strettamente limitato alla trasmissione di identificativi di sessione (costituiti 
          
          da numeri casuali generati dal server) e di dati di utilizzo del software necessari per consentire l'esplorazione sicura ed efficiente del 
          
          sito: i c.d. cookies di sessione utilizzati in questo sito evitano il ricorso a tecniche informatiche potenzialmente
          
          riservatezza della navigazione degli utenti e non consentono l'acquisizione di dati personali identificativi dell'utente.
        %h2
          7. AMBITO DI CONOSCENZA DEI DATI
        %p
          Possono venire a conoscenza dei dati esclusivamente soggetti nominati dalla scrivente VALLESI S.p.A. Socio Unico, titolare del

          trattamento, in qualità di responsabili o incaricati del trattamento: i dati potranno altresì essere trattati da soggetti terzi outsourcer 
          
          di cui ci si avvale per l’erogazione di servizi informatici, che la nostra organizzazione ha provveduto, per garantire una maggiore 
          
          tutela, a nominare responsabili del trattamento limitatamente alla erogazione del servizio sopra citato. In tutti i casi, tali soggetti 
          
          tratteranno i dati conformemente alle istruzioni ricevute dal Titolare, secondo profili operativi agli stessi attribuiti in relazione alle funzioni 
          
          svolte, limitatamente a quanto necessario e strumentale per l’esecuzione di specifiche operazioni
          
          esclusivamente per il conseguimento delle finalità indicate nella presente informativa.
        %h2
          8. COMUNICAZIONE E DIFFUSIONE
        %p
          I dati potranno essere comunicati, con tale termine intendendosi il darne conoscenza ad uno o più soggetti determinati, nei seguenti 

          termini:
        %ul
          %li
            a soggetti, pubblici e privati, che possono accedere ai dati in forza di disposizione di legge, di regolamento o di normativa 
          
            comunitaria, nei limiti previsti da tali norme (si citano ad esempio, istituti ed enti previdenziali e assistenziali, associazioni di enti 
            
            locali, amministrazioni ed enti pubblici, associazioni, fondazioni, enti od organismi di tipo associativo e/o assicurativo)
          
          %li
            a soggetti che hanno necessità di accedere ai dati per finalità ausiliare al rapporto che intercorre tra le parti, nei limiti 
          
            strettamente necessari per svolgere i compiti ausiliari (si citano a titolo indicativo, banche ed istituti di credito, società di 
            
            erogazione servizi, vettori e società di spedizioni)
          %li
            a soggetti nostri consulenti, nei limiti necessari per svolgere il loro incarico presso la nostra organizzazione, previo nostra lettera 
            
            di incarico che imponga il dovere di riservatezza e sicurezza.<br /><br />
        %p   
          I dati non verranno diffusi, con tale termine intendendosi il darne conoscenza a soggetti indeterminati in qualunque modo, anche 
          
          mediante la loro messa a disposizione o consultazione, a meno di uno specifico consenso, libero ed informato, concesso per ciascun 
          
          tipo di trattamento.
        %h2
          8. DIRITTI DEGLI INTERESSATI
        %p
          Resta salva la facoltà dei soggetti cui si riferiscono i dati personali di esercitare in ogni momento i diritti di cui all'art. 7 (Diritto di accesso 

          ai dati personali ed altri diritti) del Codice, in particolare: diritto di ottenere la conferma dell’esistenza o meno dei propri dati personali, 
          
          di accedervi e di conoscerne il contenuto e l’origine, di verificarne l’esattezza, di chiederne l’integrazione o l'aggiornamento, oppure la 
          
          rettificazione e la cancellazione o il blocco se incompleti, erronei o raccolti in violazione della normativa vigente, nonché di opporsi al 
          
          loro trattamento per motivi legittimi.<br /> In merito all’esercizio dei propri diritti, così come per conoscere l’elenco aggiornato dei responsabili 
          
          del trattamento dei dati personali, il soggetto interessato potrà rivolgere le proprie richieste ai sensi dell’art. 13 lettera f) Dlgs 196/2003 
          
          al responsabile designato per il riscontro all'interessato, Silvia Perona, reperibile presso la sede amministrativa
          
          inviando comunicazione all’indirizzo e-mail privacy@vallesi.eu, al fine di ottenere tempestivo riscontro.
        %h2
          8. TITOLARE DEL TRATTAMENTO
        %p
          Titolare del trattamento dei dati personali è VALLESI S.p.A. Socio Unico: sede amministrativa in Via Pietro Massia, 13 – 12038 

          Savigliano (CN).

/ Footer Section
%footer
  .container
    %p.info
      Vallesi S.p.A Socio Unico - Via Circonvallazione Giolitti, 23 - 12030 Torre San Giorgio (CN) - Italy - Phone +39 0172. 96176 - Fax +39 0172 96269
    /[IF IE]
      <script src="js/selectivizr-min.js"></script>
      
      <link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
      <script src="js/respond.src.js"></script>